<!DOCTYPE html>
<html lang="en">
<head>
<title>Products</title>
<meta charset="utf-8">
<link href="construction1.css" rel="stylesheet">
<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<meta name="description" content="This is the website for Nichols construction owned and run by Jerry Nichols">
</head>
<body>
<div id="wrapper">
<header>
 <h1>Nichols Construction</h1>
</header>
<nav>
<div class="navbar">
<a href="/">Home</a>
<a href="/services">Services offered</a>
<a href="/products">Products</a>
<a href="/orders">Orders</a>
<a href="/login">Log in</a>
<a href="/register">Register</a>
</div>
</div>
</div>
</nav>
<main>

<h2> About Nichols construction</h2>
<p> This is where I describe what Nichols construction is about</p>
<footer>
  For more information contact jerrynichols.655@gmail.com
  <br>
  Phone: (479) 264-8223
  <br>
  Last updated november/22/2020
</footer>
</main>
</div>
</body>
</html>
