<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <form action="/register" method="post">
    <label>Username</label>
    <br>
    <input required type="text" name="username" id="">
    <br>

    <label>Password</label>
    <br>
    <input required type="password" value="" name="pass1">
    <br>

    <label>Confirm Password</label>
    <br>
    <input required type="password" value="" name="pass2">
    <br>
    <br>
    <button type="submit">Register</button>
  </form>
</body>
</html>