<!DOCTYPE html>
<html lang="en">
<head>
<title>services</title>
<meta charset="utf-8">
<link href="construction1.css" rel="stylesheet">
<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<meta name="description" content="This is the website for Nichols construction owned and run by Jerry Nichols">
</head>
<body>
<div id="wrapper">
<header>
 <h1>Nichols Construction</h1>
</header>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<nav>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/orders">Orders</a>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>

</div>
</div>
</div>
</nav>
<main>

<h2> Services</h2>
<li class="body"><a href="siding">Siding</a>
<li class="body"><a href="flooring">Flooring</a>
<li class="body"><a href="framing">Framing(Turn Key)</a>
<li class="body"><a href="roofing">Roofing</a><br>
<li class="body">Other services
<p>Wooden structural Trusses: $5 per running foot</p>  
<p>All remodels, Barns, Carports, and other similar services have to be built on site. This means that we can not give you a rough estimate here.
Please contact us at <a href="mailto:jerrynichols655@gmail">Jerrynichols@gmail.com</a> or call (479)254-8223 to get an estamite for these services.</p><br>
<p>Here are some pictures of our work</p>                       
<div class="row">
  <div class="column">
    <img src="images/house5.png" alt="House1" style="width:100%" style="height:50%">
  </div>
  <div class="column">
    <img src="images/house2.png" alt="Construction" style="width:100%">
  </div>
  <div class="column">
    <img src="images/house4.png" alt="House3" style="width:100%">
  </div>
</div>

<footer>
  For more information contact <a href="mailto:jerrynichols655@gmail">Jerrynichols@gmail.com</a>
  <br>
  Phone: (479) 264-8223
  <br>
  Last updated november/22/2020
</footer>
</main>
</div>
</body>
</html>
